@import url('https://fonts.googleapis.com/css?family=Avenir');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        @apply overflow-y-auto overflow-x-hidden !important
    }
    .init-background {
        background-image: url("../images/init_background.png");
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .left-menu {
        @apply h-screen relative w-28 p-4 bg-wk-dark text-white
    }
    .logo {
        @apply bg-wk-secondary text-xs text-gray-500 text-center py-5 px-2 rounded-lg
    }
    .menu-icon-button {
        @apply text-wk-secondary block mb-6 px-4 rounded-full px-3 py-4 text-center mb-6 hover:bg-white hover:text-wk-dark
    }
    .router-link-exact-active {
        @apply bg-white text-wk-dark rounded-full py-4 text-center mb-6
    }
    .header {
        @apply w-full h-20 text-wk-dark border-b border-gray-200
    }
    .header-title {
        @apply float-left font-semi-bold text-2xl p-6
    }
    .header-menus {
        @apply flex items-center float-right text-gray-500 px-6 py-1
    }
    .header-icons {
        @apply px-2 cursor-pointer
    }
    .header-avatar {
        @apply w-14 h-14 cursor-pointer rounded-full
    }
    .profile-photo .header-no-avatar,
    .sm-profile-photo .header-no-avatar {
        @apply rounded-full bg-gray-100 text-center text-gray-400
    }
    .header-no-avatar .profile-no-icon {
        width: 50px;
    }
    .profile-photo .profile-avatar,
    .sm-profile-photo .profile-avatar {
        @apply rounded-full
    }
    .profile-photo .header-no-avatar {
        @apply w-14 h-14 cursor-pointer
    }
    .profile-photo .profile-avatar {
        @apply w-16 h-16 cursor-pointer
    }
    .sm-profile-photo .header-no-avatar {
        @apply w-6 h-6 inline-block shadow-sm
    }
    .sm-profile-photo .header-no-avatar .profile-no-icon {
        width: 22px;
    }
    .sm-profile-photo .profile-avatar {
        @apply w-6 h-6 shadow-sm
    }
    .modal {
        @apply flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0
    }
    .modal-background,
    .modal .modal-background {
        @apply fixed inset-0 bg-black bg-opacity-75 transition-opacity backdrop-filter backdrop-blur-sm
    }
    .init-modal-background {
        @apply fixed inset-0 bg-black bg-opacity-40 transition-opacity backdrop-filter backdrop-blur-sm
    }
    .modal-content, .modal-content-sm, .modal-content-md, .modal-content-lg, .modal-content-xl {
        @apply inline-block bg-white text-left overflow-hidden shadow-xl transform transition-all sm:mt-40 sm:mb-8 sm:align-middle sm:w-full
    }
    .modal-content-sm {
        @apply sm:max-w-sm
    }
    .modal-content-md {
        @apply sm:max-w-md
    }
    .modal-content-lg {
        @apply sm:max-w-3xl
    }
    .modal-content-xl {
        @apply sm:max-w-4xl
    }
    .modal-close {
        @apply absolute right-0 p-4 cursor-pointer
    }
    .modal-header {
        @apply pt-10 px-8 sm:px-10
    }
    .modal-title {
        @apply font-bold px-2 pt-3 text-base
    }
    .modal-body {
        @apply bg-white pt-3 px-8 sm:px-12 text-black
    }
    .modal-footer {
        @apply py-3 px-5 sm:px-6 text-black
    }
    .profile-photo {
        @apply mx-auto flex-shrink-0 flex items-center justify-center rounded-full
    }
    .profile-online,
    .profile-vacation,
    .profile-other {
        @apply rounded-full border-4 table;
        padding: 2px;
    }
    .profile-top {
        @apply mt-3 text-center w-full mx-auto
    }
    .profile-icon {
        @apply inline-block bg-black rounded-full p-3 mx-2 text-center cursor-pointer text-white
    }
    /* calendar override */
    .v-application {
        font-family: "Avenir";
    }
    .v-application .primary--text {
        @apply text-wk-secondary;
    }
    /* If header color changes */
    .theme--light.v-calendar-weekly {
        @apply border-0
    }
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-outside,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-future,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-present,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-past {
       /* @apply bg-wk-header text-white py-3*/
        @apply bg-wk-light text-black py-3
    }
    /*.theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.primary--text,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-outside.primary--text,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-future.primary--text,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-present.primary--text,
    .theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-past.primary--text {
       color: #fff !important;
       caret-color: #fff !important;
    }*/
    .v-application--wrap {
        min-height: auto;
    }
    .v-btn--fab.v-size--small {
        height: 30px;
        width: 30px;
    }
    .v-toolbar__content, .v-toolbar__extension {
        @apply pr-6
    }
    .v-btn {
        text-transform: capitalize;
    }
    label {
        @apply font-medium text-sm
    }
    .white-board-rounded {
        @apply bg-white border border-solid border-gray-500 rounded text-black w-full py-2 px-3 outline-none
    }
    .input-code {
        @apply text-center border border-solid border-gray-300 bg-wk-lightgray w-full text-lg py-2 rounded uppercase focus:outline-none focus:border-red-500 focus:bg-white
    }
    .input-underline {
        @apply text-center border-b-2 border-solid border-gray-800 w-full text-lg py-2 focus:outline-none focus:border-red-500
    }
    .btn-black {
        @apply py-2 px-11 rounded text-sm bg-black text-white border border-solid border-black font-medium hover:bg-white hover:border-black hover:text-black
    }
    .btn-black-full {
        @apply py-2 px-11 rounded text-sm bg-wk-dark text-white border border-solid border-black font-medium w-full hover:bg-white hover:border-wk-dark hover:text-black
    }
    .btn-border-black {
        @apply  py-2 w-full border border-solid border-wk-dark rounded text-sm hover:bg-wk-dark hover:text-white font-medium
    }
    .input-icon {
        width: 20px;
    }
    .input-icons {
        @apply absolute right-2 bottom-2 text-gray-500;
    }
    /*.init-modal-header {*/
    /*    @apply bg-black text-white flex font-semibold text-base*/
    /*}*/
    .init-modal-footer {
        @apply bg-gray-200 text-center text-xs absolute bottom-0 left-0 right-0
    }
    .v-icon,
    .custom-icon {
        width: 40px;
    }

    .page-title {
        @apply flex py-4 px-6
    }
    .page-title .page-title-l,
    .page-title .page-title-r {
        @apply flex-1
    }
    .page-title .page-title-l .primary-title {
        @apply text-xl
    }
    .sub-title {
        @apply text-sm ml-3 text-wk-defgray
    }
    .page-title .page-title-r {
        @apply text-right
    }
    .btn-add-member {
        @apply inline-block bg-wk-dark text-white py-1 px-3 rounded cursor-pointer
    }
    .btn-add-member .icon {
        @apply mr-1;
        width: 16px;
        margin-bottom: 2px;
    }
    .action-box {
        @apply rounded-full bg-wk-lightgray shadow-b-sm inline-block px-2 py-1 cursor-pointer m-1.5
    }
    .icon-12 {
        width: 12px;
    }
    .icon-16 {
        width: 16px;
    }
    .icon-20 {
        width: 20px;
    }
    /* guest */
    .member-only-form {
        @apply absolute border rounded border-solid p-3 w-48 bg-white text-wk-secondary left-28 border-red-500;
        z-index: 1;
        /*position: absolute;*/
        /*background-color: #ffffff;*/
        /*border: solid 2px #d0d0d0;*/
        /*width: 350px;*/
        /*height: 150px;*/
        /*padding: 10px;*/
        /*left: 110px;*/
    }
    .member-only-form .close {
        @apply absolute top-2 right-2 w-4 h-4 cursor-pointer
        /*position: absolute;*/
        /*top: 5px;*/
        /*right: 5px*/
    }

    .v-data-table-header th {
        @apply bg-wk-header text-left;
        font-weight: normal;
    }
    .v-data-table-header th span {
        @apply text-white
    }
    .theme--light.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon {
        color: #fff;
    }
    .v-data-table>.v-data-table__wrapper>table>tbody>tr:nth-child(even) {
        @apply bg-wk-even
    }
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
    .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
    .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
    .v-data-table>.v-data-table__wrapper>table>thead>tr>td,
    .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
        font-size: .79rem;
        height: 40px;
    }
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>td:first-child,
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>th:first-child,
    .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td:first-child,
    .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th:first-child,
    .v-data-table>.v-data-table__wrapper>table>thead>tr>td:first-child,
    .v-data-table>.v-data-table__wrapper>table>thead>tr>th:first-child {
        @apply pl-6
    }
    .v-simple-checkbox {
        @apply flex;
    }
}
@layer utilities {
    @variants responsive {
        .text-shadow {
            text-shadow: 2px 2px 4px #333;
        }
        .text-shadow-md {
            text-shadow: 4px 4px 8px #333;
        }
        .text-shadow-lg {
            text-shadow: 15px 15px 30px #333;
        }
        .text-shadow-none {
            text-shadow: none;
        }
    }
}

html, body {
    font-family: "Avenir Next", "Avenir", sans-serif;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: initial;
}
.logo {
    font-size: 10px;
}
.profile-online {
    border-color: #0B700F;
}
.profile-vacation {
    border-color: #DA000B;
}
.profile-other {
    border-color: #FF9900;
}
.theme--dark.v-chip:not(.v-chip--active).online {
    background-color: #0B700F;
}
.theme--dark.v-chip:not(.v-chip--active).vacation {
    background-color: #DA000B;
}
.theme--dark.v-chip:not(.v-chip--active).other {
    background-color: #FF9900;
}
.theme--dark.v-chip:not(.v-chip--active) {
    background: #555;
}
.v-chip {
    padding: 0 7px;
    margin-right: 5px;
}
.v-chip.v-size--default {
    height: 14px;
}
.w-22 {
    width: 5.5rem;
}
.w-18 {
    width: 4.5rem;
}
.h-22 {
    height: 5.5rem;
}
.h-18 {
    height: 4.5rem;
}
.v-application .ca-white.white--text,
.ca-white {
    background-color: #FFF;
    border: solid 1px #CACACA;
}
.ca-green {
    background-color: #E6F2F3;
}
.ca-blue {
    background-color: #D7EBFF;
}
.ca-purple {
    background-color: #E1DFEF;
}
.ca-orange {
    background-color: #FFDFBE;
}
.v-application .ca-white.white--text {
    color: #151515!important;
}
.v-application .ca-green.white--text {
    color: #042F31!important;
}
.v-application .ca-blue.white--text {
    color: #1B5289!important;
}
.v-application .ca-purple.white--text {
    color: #4B37C3!important;
}
.v-application .ca-orange.white--text {
    color: #BB6811!important;
}
.v-application .ca-white .pl-1,
.v-application .ca-green .pl-1,
.v-application .ca-blue .pl-1,
.v-application .ca-purple .pl-1,
.v-application .ca-orange .pl-1 {
    padding-left: 6px!important;
}
.v-application .ca-white.white--text,
.theme--light.v-calendar-events .v-event-timed.ca-white {
    border: 1px solid #CACACA!important;
}
.v-application .ca-green.white--text,
.theme--light.v-calendar-events .v-event-timed.ca-green {
    border: 1px solid #cddcdd !important;
}
.v-application .ca-blue.white--text,
.theme--light.v-calendar-events .v-event-timed.ca-blue {
    border: 1px solid #bad5f1!important;
}
.v-application .ca-purple.white--text,
.theme--light.v-calendar-events .v-event-timed.ca-purple {
    border: 1px solid #c5c2d3!important;
}
.v-application .ca-orange.white--text,
.theme--light.v-calendar-events .v-event-timed.ca-orange {
    border: 1px solid #ffcf9d!important;
}
.theme--light.v-calendar-events .v-event-more {
    border-left: 1px solid #CACACA;
}
.v-calendar-weekly__day-label .primary .v-btn__content {
    letter-spacing: -1.5px;
}